* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

nav, 
header {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 700;
    padding: 3.4rem;
}

header {
    font-weight: 900;
    font-size: 4rem;
    margin: 0;
    text-align: center;
}

nav {
    align-items: center;
}

header img {
    width: 40%;
}

